<select id="inputState{{ team }}" name="inputState{{ team }}" class="form-control" style="width: 50%" required="">
	<option selected disabled value="">Choose {{ team }} Team</option>
	<option value="FCB">FC Barcelona</option>
	<option value="RMA">Real Madrid</option>
	<option value="MCI">Manchester City</option>
	<option value="LFC">Liverpool</option>
	<option value="TOT">Tottenham</option>
	<option value="ARS">Arsenal</option>
	<option value="CHE">Chelsea</option>
	<option value="MNU">Manchester United</option>
	<option value="JUV">Juventus</option>
</select>